<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Carougen - Instagram Carousel Generator</title>

  <!-- Primary Meta Tags -->
  <meta name="title" content="Carougen - Instagram Carousel Generator" />
  <meta
    name="description"
    content="Create engaging Instagram carousel posts with ease using Carougen. Generate beautiful content material for your Instagram carousel posts effortlessly."
  />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://carougen.megalogic.id" />
  <meta property="og:title" content="Carougen - Instagram Carousel Generator" />
  <meta
    property="og:description"
    content="Create engaging Instagram carousel posts with ease using Carougen. Generate beautiful content material for your Instagram carousel posts effortlessly."
  />
  <meta
    property="og:image"
    content="https://carougen.megalogic.id/static/banner.png"
  />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://carougen.megalogic.id" />
  <meta
    property="twitter:title"
    content="Carougen - Instagram Carousel Generator"
  />
  <meta
    property="twitter:description"
    content="Create engaging Instagram carousel posts with ease using Carougen. Generate beautiful content material for your Instagram carousel posts effortlessly."
  />
  <meta
    property="twitter:image"
    content="https://carougen.megalogic.id/static/banner.png"
  />

  <!-- Include Tippy.js CSS -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/tippy.js@6.3.2/dist/tippy.css"
  />

  <!-- Include the Alpine.js & Tailwind library -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
  ></script>

  <!-- Include Tippy.js library -->
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    defer
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/tippy.js@6.3.2/dist/tippy-bundle.umd.min.js"
    defer
  ></script>

  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
